<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Botron Interview - Programming Problem</title>
    <link rel="stylesheet" href="app/styles/app.css">
    <link rel="stylesheet" href="app/bower_components/bg-splitter/css/style.css"></link>

    <!--  AUI Core -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.19/js/aui.min.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.19/css/aui.min.css" media="all">

    <!-- AUI Experimental components -->
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.19/css/aui-experimental.min.css" media="all">
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.19/js/aui-experimental.min.js"></script>

    <!-- AUI Datepicker and Soy templates -->
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.19/js/aui-datepicker.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.19/js/aui-soy.min.js"></script>
</head>

<body>
    <section class="container" data-ng-controller="MainController as vm">
        <bg-splitter orientation="horizontal">
            <bg-pane min-size="100">
                <div class="summary-filter-wrapper">
                    <div class="field-group">
                        <label for="summary">Summary<span class="aui-icon"></span></label>
                        <input class="text" type="text" id="summary" data-ng-model="vm.summaryFilter" title="summary">
                        <div class="description">Filter issues by summary filed</div>
                    </div>
                </div>
                <nav class="aui-navgroup aui-navgroup-vertical issues-link-nav">
                    <div class="aui-navgroup-inner">
                        <ul class="aui-nav">
                            <!--<li class="aui-nav-selected"><a href="#">Selected foo</a></li>-->
                            <li class="issue" data-ng-repeat="issue in vm.issues | filter: {fields : {summary : vm.summaryFilter}}">
                                <a href="#" data-ng-click="vm.selectIssue(issue)">
                                    <div class="issue-key">
                                        <span>
                                    <img data-ng-src="{{issue.fields.issuetype.iconUrl}}" title="{{issue.fields.issuetype.description}}" alt="{{issue.fields.issuetype.name}}">
                                    {{issue.key}}
                                </span>
                                    </div>
                                    <div class="issue-summary">
                                        {{issue.fields.summary}}
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <ol class="aui-nav aui-nav-pagination">
                    <li class="aui-nav-first"><a href="#">First</a></li>
                    <li class="aui-nav-previous"><a href="#">Prev</a></li>
                    <li><a href="http://example.com/">1</a></li>
                    <li class="aui-nav-selected">2</li>
                    <li><a href="http://example.com/">3</a></li>
                    <li class="aui-nav-truncation"><a href="http://example.com/" id="pagination-truncation">&hellip;</a></li>
                    <li><a href="http://example.com/">998</a></li>
                    <li><a href="http://example.com/">999</a></li>
                    <li class="aui-nav-next"><a href="#">Next</a></li>
                    <li class="aui-nav-last"><a href="#">Last</a></li>
                </ol>
            </bg-pane>
            <bg-pane min-size="150">
                <div class="aui-item details-panel">
                    <div class="issue-container">
                        <header class="aui-page-header">
                            <div class="aui-page-header-inner">
                                <div class="aui-page-header-image">
                                    <span class="aui-avatar aui-avatar-large aui-avatar-project">
                                <span class="aui-avatar-inner">
                                    <img id="project-avatar" alt="" src="https://jira.atlassian.com/secure/projectavatar?pid=14110&amp;avatarId=37849">
                                </span>
                                    </span>
                                </div>
                                <div class="aui-page-header-main">
                                    <ol class="aui-nav aui-nav-breadcrumbs __skate">
                                        <li>
                                            <a id="project-name-val" href="https://jira.atlassian.com/projects/{{vm.selectedIssue.fields.project.key}}/issues/{{vm.selectedIssue.key}}">{{vm.selectedIssue.fields.project.name}}</a>
                                        </li>
                                        <li>
                                            <a id="key-val" class="issue-link" data-issue-key="TEAMCAL-3901" href="https://jira.atlassian.com/browse/{{vm.selectedIssue.key}}">{{vm.selectedIssue.key}}</a>
                                        </li>
                                    </ol>
                                    <h1 id="issueSummary">{{vm.selectedIssue.fields.summary}}</h1>
                                </div>
                            </div>
                        </header>
                        <div class="aui-group issue-body">
                            <div class="details-container">
                                <h2>Details:</h2>
                                <div class="details-content">
                                    <ul id="issuedetails" class="property-list two-cols">
                                        <li class="item">
                                            <div class="wrap">
                                                <strong class="name">Type:</strong>
                                                <span id="type-val" class="value">
                                                    <img alt="" ng-src="{{vm.selectedIssue.fields.issuetype.iconUrl}}" title="{{vm.selectedIssue.fields.issuetype.description}}" width="20" height="20">
                                                    {{vm.selectedIssue.fields.issuetype.name}}         
                                                 </span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="wrap">
                                                <strong class="name">Status:</strong>
                                                <span id="status-val" class="value">
                                                <img ng-src="{{vm.selectedIssue.fields.status.iconUrl}}" title="{{vm.selectedIssue.fields.status.description}}" alt="" width="20" height="20">
                                                {{vm.selectedIssue.fields.status.name}}
                                                </span>
                                            </div>
                                        </li>
                                        <li class="item" data-ng-if="vm.selectedIssue.fields.priority != null">
                                            <div class="wrap">
                                                <strong class="name">Priority:</strong>
                                                <span id="status-val" class="value">
                                                <img ng-src="{{vm.selectedIssue.fields.priority.iconUrl}}" title="{{vm.selectedIssue.fields.priority.name}}" alt="{{vm.selectedIssue.fields.priority.name}}" width="20" height="20">
                                                {{vm.selectedIssue.fields.priority.name}}
                                                </span>
                                            </div>
                                        </li>
                                        <li class="item" data-ng-if="vm.selectedIssue.fields.labels.length > 0">
                                            <div class="wrap" id="wrap-labels">
                                                <strong class="name">Labels:</strong>
                                                <div class="labels-wrap value">
                                                    <ul class="labels">
                                                        <li data-ng-repeat="label in vm.selectedIssue.fields.labels">
                                                            {{label}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="description-container">
                                <h2>Description:</h2>
                                <div class="description-content" data-ng-bind-html="vm.issueDescription">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </bg-pane>
        </bg-splitter>
    </section>
    <!-- inject-vendor:js -->
    <script src="app/bower_components/angular/angular.min.js"></script>
    <script src="app/bower_components/angular-route/angular-route.min.js"></script>
    <script src="app/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="app/bower_components/bg-splitter/js/splitter.js"></script>
    <!--endinject-->

    <!-- inject:js -->
    <!-- Bootstrapping -->
    <script src="app/js/app.module.js"></script>

    <!--constants-->
    <script src="app/js/constants.js"></script>

    <!--services-->
    <script src="app/js/dataservice.js"></script>

    <!--controllers-->
    <script src="app/js/main.controller.js"></script>
    <!--endinject-->
</body>

</html>